<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://placita.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>placita.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>placita</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$placita</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:qgizrhs6yo.database.windows.net,1433;Initial Catalog=placita_db;User ID=placita@qgizrhs6yo;Password='5D8|&quot;l+\)%s^3Wk'" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PlacitaWS.Models.ApplicationDbContext, PlacitaWS" MigrationConfiguration="PlacitaWS.Migrations.Configuration, PlacitaWS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:qgizrhs6yo.database.windows.net,1433;Initial Catalog=placita_db;User ID=placita@qgizrhs6yo;Password='5D8|&quot;l+\)%s^3Wk'" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:qgizrhs6yo.database.windows.net,1433;Initial Catalog=placita_db;User ID=placita@qgizrhs6yo;Password='5D8|&quot;l+\)%s^3Wk'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qgizrhs6yo.database.windows.net,1433;Initial Catalog=placita_db;User ID=placita@qgizrhs6yo;Password='5D8|"l+\)%s^3Wk'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>